@import "tailwindcss";

@theme {
  --color-background: #1E1E1E;
  --color-main: #E3E6ED;
    --color-error : #FF5C5C;
    --color-success : #4ADE80;
    --color-cta-from: #3B82F6;
    --color-cta-to: #8B5CF6;
}


body {
  background: var(--color-background);
  color: var(--color-main);
    font-family: "Satoshi Variable", sans-serif;
}

textarea {
    resize: none !important;
    overflow: auto;
}